body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  .container1{
  margin-top: 50px;
  margin-bottom: 50px;
    border: 1px solid  #E8861E;
    border-radius: 2px;
    width: 500px;
    height: 600px;
      display: inline-block;
      margin-left: 30%;
      margin-right: auto;
      text-align: left;
      background-image: url("./assets/images/6.png");
    
    background-size: 100% 100%;
    
  }
  .container2{
    margin-top: 100px;
    margin-bottom: 50px;
    border: 1px solid  #E8861E;
    border-radius: 2px;
    width: 1100px;
    height: 900px;
    display: inline-block;
    margin-right: auto;
    margin-left: 200px;
    text-align: left;
    background-image: url("./assets/images/6.png");
    background-size: 100% 100%;
      
    }
  
  .resturantImage{
    width: 70px;
    height: 40px;
  }
  .resturantImageadd{
    width: 100px;
    height: 60px;
    margin-left:12%;
  }
  .card-title{
    margin-left: 38%;
    color: black;
    font-size: medium;
  }
  .form-label{
    margin-left:10%;
    font-size: small;
    font-weight:600;
  }
  .form-control{
    width: 350px;
    margin-left:10%;
  }
  .submitResturant{
    margin-top: 5%;
    background-color: #E8861E;
    border: 1px solid  #E8861E;
    font-size: small;
    font-weight: 700;
    width: 150px;
    height: 35px;
    margin-left:35%;
    border-radius: 6px;
  
  
  }
  .custom-file{
    width: 350px;
    margin-left:10%;
    font-size: small;
  }
  .example1 {
   height: 300px;
   width: 1000px;
    background-image: url("./assets/images/cv.png");
    background-repeat: no-repeat;
    background-size:cover;
    margin-top: 0%;
    margin-left: 0%;
  }

  .head{  
  background-color: white;
  border: 20px solid #F6DCC5 ;
  }
  
  table {
    width: 50%;
    background-color:#F6DCC5;
   margin-top: 10%;

  
  }
  
  .gap{
    background-color: #E8861E;
    height: 30px;
  }
  .gp{
    background-color: #F6DCC5;
    width: 10px;
  }
  
  tbody{
  background-color:#F6DCC5;
  border:20px solid #F6DCC5;
  }
  
  .card1{

    width:500px;
    height: 450px;
    margin-left: 20%;
    background-color: #F6DCC5;
    border-radius: 2%;
  }

  .column-66 {
    float: right;
    width: 66.66666%;
    
  }
  
  .column-33 {
    float: left;
    width: 33.33333%;
    padding: 20px;
  }
  .view{
    margin-left: 35%;
    margin-top: 10%;
    background-color: black;
    color: white;
    border-radius: 10%;
    width: 150px;
    height: 50px;
  }
  .card-img-top{
    height: 300px;
  }