.myyy{
    
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: center;
    justify-content: center;
   
}
.table1{
    width: auto;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    background-color:#F5D7BD;


}