.create_pakage{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-radius: 60px; 
    width: 90%;
    background-color: #e9e9e9;
    margin: 10px 70px;
    justify-content: space-around;
}
.upload{
    max-width: 550px;
    height: 700px;
    width: 100%;
    border: 2px solid rgb(16, 8, 8);
    padding: 35px;
    margin: 10px;
    top: 10%;
    position: relative;
}
.upload1{

    width: 200px;
    height: 40px;
    

    color: rgb(7, 7, 7);
    margin: 30px 600px;
    text-transform: uppercase;
    letter-spacing: 20px;
    font-weight: 800;

    width: 100%;
    color: rgb(16, 16, 16);
  min-height: 40px;
  padding: 0 5px;


}

#file_up{
    position: relative;
    width: 100%;
    height: 100%;
    outline: none;
}
#file_up::before{
    content: "+";
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    background: white;
    color: rgb(8, 8, 7);
    font-size: 17rem;
    text-align: center;
    cursor: pointer;
    margin: auto;
}
#file_img{
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left: 0;
    background: rgb(255, 34, 34);
}
#file_img img{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}
#file_img span{
    position: absolute;
    top: -13px;
    right: -13px;
    background: white;
    border: 1px solid #ddd;
    border-radius: 50%;
    padding: 6px 10px;
    cursor: pointer;
  
    color: crimson;
}

.create_pakage form{
    box-shadow: 11px 12px 13px 12px rgb(207, 207, 207);
    max-width: 600px;
    min-width: 200px;
    border-radius: 60px; 
    width: 90%;
    background-color: hsl(0, 4%, 75%);
    margin: 20px 30px;
}
.create_pakage form .row{
    width: 80%;
    margin: 1px 80px ;
    
   box-sizing: border-box;
    align-items: center;
}
.create_pakage form input, textarea{
    width: 100%;
      color: rgb(16, 16, 16);
    min-height: 40px;
    padding: 0 5px;
}
.create_pakage form button{
    width: 200px;
    height: 40px;
    background: #555;
text-align: center;
    color: white;
    margin: 30px 200px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
}

