.Hall-form{
	padding-bottom: 50px;
	padding-top: 50px;
	font-family: 'Montserrat', sans-serif;
}

.Hall-form.dark{
	background-color: #f6f6f6;
}

.Hall-form .content{
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
	background-color: white;
}



.Hall-form .block-heading p{
	text-align: center;
	max-width: 420px;
	margin: auto;
	opacity:0.7;
}

.Hall-form.dark .block-heading p{
	opacity:0.8;
}


.Hall-form input{
	
	background-color: #F5D7BD;
	
}

input{
	background-color: #F5D7BD;
}


.Hall-form form{
	border-top: 10px solid #F57936;
	border-bottom:  10px solid #F57936;
	border-radius: 6px;
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
	background-color: #ffffff;
	padding: 0;
	max-width: 600px;
	margin: auto;
}

.Hall-form .title{
	font-size: 36px;
	/* border-bottom: 1px solid rgba(0,0,0,0.1); */
	margin-bottom: 2px;
	font-weight: 600;
	padding-bottom: 4px;
	justify-content: center;
	text-align: center;
}

.Hall-form .products{
	background-color: #f7fbff;
    padding: 25px;	
}



.Hall-form .card-details{
	padding: 25px 25px 15px;
}

.Hall-form .card-details label{
	font-size: 12px;
	font-weight: 600;
	margin-bottom: 15px;
	color: #79818a;
	text-transform: uppercase;
}

.Hall-form .card-details button{
	margin-top: 0.6em;
	padding:12px 0;
	font-weight: 600;
}

.Hall-form .date-separator{
 	margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
}

.submit{
	background-color: #E8861E;
	color: white;
	border: none;
	border-radius: 6px;
	padding: 12px 0;
	font-weight: 600;
	font-size: 14px;
	width: 100%;
	
}

.btngroup{
      text-align: center;
	  align-items: center;
	  justify-content: center;

}

.cancel{
	background-color: #F14668;
	color: white;
	border: none;
	border-radius: 6px;
	padding: 12px 0;
	font-weight: 600;
	font-size: 14px;
	width: 100%;
}

@media (min-width: 576px) {
	.Hall-form .title {
		font-size: 1.2em; 
	}

	.Hall-form .products {
		padding: 40px; 
  	}

	.Hall-form .products .item-name {
		font-size: 1em; 
	}

	.Hall-form .products .price {
    	font-size: 1em; 
	}

  	.Hall-form .card-details {
    	padding: 40px 40px 30px; 
    }

  	.Hall-form .card-details button {
    	margin-top: 2em; 
    } 
}